<launch>
  <include file="$(find turtlebot_navigation)/launch/includes/velocity_smoother.launch.xml"/>sssss

  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>

  <include file="$(find turtlebot_teleop)/launch/logitech.launch"/>

  <include file="$(find push)/launch/capture_tags.launch"/>

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_footprint"/>
  <arg name="global_frame_id" default="odom"/>
  <arg name="odom_topic" default="odom" />
  <arg name="laser_topic" default="scan" />
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/dummy.yaml"/>


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

  <rosparam file="$(find pose_estimation)/param/odom_nav_params/costmap_common_params.yaml" command="load" ns="global_costmap" />
  <rosparam file="$(find pose_estimation)/param/odom_nav_params/costmap_common_params.yaml" command="load" ns="local_costmap" />

  <rosparam file="$(find pose_estimation)/param/odom_nav_params/global_costmap_params.yaml" command="load" />
  <rosparam file="$(find pose_estimation)/param/odom_nav_params/local_costmap_params.yaml" command="load" />

  <!-- <rosparam file="$(find turtlebot_navigation)/param/odom_nav_params/base_local_planner_params.yaml" command="load" /> -->
  <rosparam file="$(find pose_estimation)/param/odom_nav_params/dwa_local_planner_params.yaml" command="load" />
  <rosparam file="$(find pose_estimation)/param/odom_nav_params/move_base_params.yaml" command="load" />

  <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
  <!-- <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/> -->
  <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>


  <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>
  <remap from="odom" to="$(arg odom_topic)"/>
  <remap from="scan" to="$(arg laser_topic)"/>

  </node>

  <!--

  <arg name="marker_size" default="4.4" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />
  <arg name="cam_image_topic" default="/wide_stereo/left/image_color" />
  <arg name="cam_info_topic" default="/wide_stereo/left/camera_info" />
  <arg name="output_frame" default="/odom" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
    <param name="marker_size"           type="double" value="$(arg marker_size)" />
    <param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
    <param name="max_track_error"       type="double" value="$(arg max_track_error)" />
    <param name="output_frame"          type="string" value="$(arg output_frame)" />

    <remap from="camera_image"  to="$(arg cam_image_topic)" />
    <remap from="camera_info"   to="$(arg cam_info_topic)" />
  </node>


  -->

  <arg name="tag_trans" default="0 0 0 0 0 0"/>
  <arg name="tag_rot" default="0 0 0 0 0 0"/>

  <arg name="tag_backs" default="0 0 0 0 0 0"/>

  <node pkg="tf" type="static_transform_publisher" name="ar_2_up" args="$(arg tag_rot) ar_marker_2 ar_2_up 100"/>
  <node pkg="tf" type="static_transform_publisher" name="ar_3_up" args="$(arg tag_rot) ar_marker_3 ar_3_up 100"/>
  <node pkg="tf" type="static_transform_publisher" name="ar_4_up" args="$(arg tag_rot) ar_marker_4 ar_4_up 100"/>


  <node pkg="tf" type="static_transform_publisher" name="item_2" args="$(arg tag_trans) ar_2_up item_2 100"/>
  <node pkg="tf" type="static_transform_publisher" name="item_3" args="$(arg tag_trans) ar_3_up item_3 100"/>
  <node pkg="tf" type="static_transform_publisher" name="item_4" args="$(arg tag_trans) ar_4_up item_4 100"/>


  <node pkg="tf" type="static_transform_publisher" name="back_2" args="$(arg tag_backs) ar_2_up back_2 100"/>
  <node pkg="tf" type="static_transform_publisher" name="back_3" args="$(arg tag_backs) ar_3_up back_3 100"/>
  <node pkg="tf" type="static_transform_publisher" name="back_4" args="$(arg tag_backs) ar_4_up back_4 100"/>

  <node pkg="demo7" type="demo7.py" name="demo6" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find push)/config/odom_tf.rviz"/>


</launch>


