<launch>
  <arg name="scan_topic"  default="scan" />
  <arg name="base_frame"  default="base_footprint"/>
  <arg name="odom_frame"  default="odom"/>
  
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>

  <include file="$(find turtlebot_teleop)/launch/logitech.launch"/>

  <include file="$(find usb_cam)/launch/usb_cam-test.launch"/>

  <node pkg="comp_three" type="wander_loc_comp.py" name="following_line" output="screen"/>


  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
</launch>
