<launch>

  <param name="stop_threshold" value="2" type="int" />

  <node pkg="lab1_demo2" name="smach_state_machine_wander" type="smach_state_wander.py">
      <remap from="cmd_vel" to="cmd_vel_mux/input/teleop"/>
  </node>

  <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
  <include file="$(find turtlebot_teleop)/launch/includes/velocity_smoother.launch.xml"/>

</launch>